numba==0.54.0
scipy==1.7.0
lmfit==1.0.2
h5py==3.3.0
numpy==1.19.5
requests==2.25.1
pymongo==3.12.0
matplotlib==3.3.4
core==1.0.1
python_dateutil==2.8.2
ROOT==0.0.1
stix==1.2.0.11
xmltodict==0.12.0
scipy==1.7.0
numpy==1.19.5
pymongo==3.12.0
python_dateutil==2.8.2
stix==1.2.0.11
