[Unit]
Description=STIX data processing pipeline

[Service]
User=root
ExecStart=/opt/stix/pystix/bin/run_ssw_idl
Restart=always

[Install]
WantedBy=default.target
